html {
  font-size: 62.5%;
}

a:hover{
  text-decoration: underline;
}

/** size & weight **/
.text-default{
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5em;
}

.text-default-menu{
  font-size: 1.6rem;
}

.heading{
  font-size: 2rem;
  font-weight: bold;
}

.big-heading{
  font-size: 4.2rem;
  font-weight: bold;
}

.sm-text{
  size: 1.2rem;
  line-height: 1.5em;
}


/** colors **/
.base-blue{
  color: #0f41af;
}

.sub-heading{
  color: #666;
}

/** breadcrumb **/
.breadcrumbs{
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5em;
}
